@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d1edff;
  color: #ffffff;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  background-color: #015084;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.header {
  text-align: left;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

.text {
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.inputs::-webkit-scrollbar {
  width: 8px;
}
.inputs::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.input {
  display: flex;
  flex-direction: column;
  color: #25272d;
}

.label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #fff;
}

.input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.submit-container {
  margin-top: 30px;
  text-align: center;
}

.submit {
  background-color: #d1edff;
  color: #015084;
  padding: 12px 24px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit:hover {
  background-color: #aee0ff;
}

@layer components {
  .input-style {
    @apply w-full h-[25px] md:h-[45px] rounded-[10px] md:rounded-[15px] pl-2 md:pl-3 mt-1 shadow-[4px_4px_4px_rgba(0,0,0,0.4)] outline-[#053657];
  }
}

.role-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.role-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

/* Esconde o input original (radio button) */
.role-input {
  display: none;
}

/* circulos de seleção */
.role-custom {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
  background-color: #f5f5f5;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* quando o radio button estiver selecionado */
.role-input:checked + .role-custom {
  background-color: #135b78;
  border-color: #dcdcdc;
}

/* efeito visual quando selecionado */
.role-input:checked + .role-custom::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f0f0f0;
}


@media (max-width: 640px) {

  body {
    background-color: #d1edff;
  }

  .container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
  }

  .header {
    font-size: 28px !important;
    margin-bottom: 15px;
    text-align: center;
  }

  .inputs {
    gap: 15px;
    max-height: 65vh;
    padding-right: 2vw;
    padding-left: 2vw;
  }

  .submit {
    padding: 10px 18px;
    font-size: 14px;
  }
}
